<header>
  <nav class="container">
    <div class="nav-wrapper">
      <%= link_to raw("<i class='material-icons left'>event</i>VisitMe"), root_path, class: "brand-logo" %>
      <ul class="right">
        <li>
          <%= link_to raw("<i class='material-icons right'>person</i>Sign In"), "#", class: "waves-effect" %>
        </li>
      </ul>
    </div>
  </nav>
</header>