<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @name %></h1>
    <p>
      This is to noftify you that <%= @visitor_name %> has checked in at your receptionist's desk.
    </p>
    <p>
      Enjoy the rest of the day at work.
    </p>
    <p>
      visitme... your schedule is our concern.
    </p>
    <p>Cheers!</p>
  </body>
</html>